<!DOCTYPE html>
<html>
<head>
    <title>Nova Oficina Central</title>
</head>
<body>
    <h1>Nova Oficina Central</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_oficina">ID Oficina:</label>
        <input type="text" id="id_oficina" name="id_oficina" required><br><br>

        <label for="empleats">Nombre d'empleats:</label>
        <input type="number" id="empleats" name="empleats" required><br><br>

        <label for="nom_ciutat">Ciutat:</label>
        <select id="nom_ciutat" name="nom_ciutat" required>
            {% for ciutat in ciutats %}
                <option value="{{ ciutat.nom }}">{{ ciutat.nom }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'oficines_centrals' %}">Cancelar</a>
</body>
</html>
