<!-- comptes.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Comptes</title>
</head>
<body>
    <h1>Llistat de Comptes</h1>
    <ul>
        {% for compte in page_obj.object_list %}
            <li>IBAN: {{ compte.iban }} - Data obertura: {{ compte.data_obertura }} - Saldo: {{ compte.saldo }} - Entitat: {{ compte.entidad }} - NIF: {{ compte.nif }}</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pàgina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">següent</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
