<!DOCTYPE html>
<html>
<head>
    <title>Editar Gestor</title>
</head>
<body>
    <h1>Editar Gestor: {{ gestor.nom }}</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" value="{{ gestor.nom }}" required><br><br>
        <label for="data_inici">Data d'Inici:</label>
        <input type="date" id="data_inici" name="data_inici" value="{{ gestor.data_inici }}" required><br><br>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'gestors' %}">Cancelar</a>
</body>
</html>
