<!DOCTYPE html>
<html>
<head>
    <title>Oficines Centrals</title>
    <style>
        .btn {
            display: inline-block;
            padding: 8px 12px;
            margin: 4px 0;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Oficines Centrals</h1>

    <form method="get" action="">
        <input type="text" name="search" placeholder="Cerca per ciutat" value="{{ request.GET.search }}">
        <button type="submit">Cercar</button>
        <a href="{% url 'afegir_oficina' %}" class="btn">Nova Oficina</a> <!-- Botón para agregar nueva oficina -->
    </form>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}

    <ul>
        {% for oficina in page_obj.object_list %}
            <li>
                ID: {{ oficina.id_oficina }} - Número d'empleats: {{ oficina.empleats }} - Ciutat: {{ oficina.nom_ciutat }}
                <a href="{% url 'editar_oficina' oficina.id_oficina %}">Editar</a>
                <form action="{% url 'eliminar_oficina' oficina.id_oficina %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pàgina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">següent</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'home' %}">Inici</a>
</body>
</html>
