<!-- operacions.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Operacions</title>
</head>
<body>
    <h1>Llistat d'Operacions</h1>
    <ul>
        {% for operacio in page_obj.object_list %}
            <li>Operació ID: {{ operacio.id_operacio }} - Data: {{ operacio.data }}</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pàgina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">següent</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>